@model IEnumerable<RollCall.Dto.AreaDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de áreas</h1>

<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id }) |                
                @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
