@model IEnumerable<RollCall.Dto.ScheduleDto>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="text-success">
        <i class="fa fa-plus-circle"></i>
        Agregar nuevo
    </a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de horarios</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StopTime)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StopTime)
                            </td>
                            <td>
                                 <a href="Areas/Edit/@item.Id" class="text-warning">
                                    <i class="fa fa-edit"></i>
                                    Editar
                                </a> 
                                |
                                <a href="Areas/Delete/@item.Id" class="text-danger">
                                    <i class="fa fa-eraser"></i>
                                    Borrar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>