@model RollCall.Dto.EmployeeDto

<div class="col-md-6">
<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src=""/>
                <div class="text-center">
                    @Model.EmployeeNumber
                </div>
                <div class="text-center">
                    @Model.RegistrationDate.ToShortDateString() - @Model.DischargeDate
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <img />
                <div class="text-info">
                    @Model.Name
                </div>
                <div class="text-info">
                    @Model.LastName
                </div>
                <div class="text-info">
                    @Model.Schedule.StartTime.ToShortTimeString() - @Model.Schedule.StopTime.ToShortTimeString()
                </div>
                <div class="text-info">
                    @Model.Area.Name
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="card-footer">

    </div>
</div>
</div>