@model RollCall.Dto.ListEmployeeDto

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de empleados</h1>
@{await Html.RenderPartialAsync("_FormSearchEmployee",new RollCall.Dto.SearchEmployeeDto());}
<p>
    <a asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListEmployee[0].EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListEmployee[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListEmployee[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListEmployee[0].PhotoInBase64)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListEmployee[0].RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListEmployee[0].DischargeDate)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListEmployee)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoInBase64)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DischargeDate)
                </td>
               @* <td>
                    @if (item.ListSecurityQuestions.Count >= 3)
                    {
                        <span class="text-success">@item.ListSecurityQuestions.Count</span>
                    }
                    @foreach (var securityQuestion in item.ListSecurityQuestions)
                    {
                        <div class="row">
                            <div class="col-md-12">@securityQuestion.Question</div>
                            <div class="col-md-12">@securityQuestion.Answer</div>
                        </div>
                    }
                </td>*@
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@{await Html.RenderPartialAsync("_Pager",Model);}