@model IEnumerable<RollCall.Dto.AssistanceDto>

@{
    @using Microsoft.AspNetCore.Http
    @using RollCall.Dto
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    ViewData["Title"] = "Index";
    int rolId;

    rolId = (int)HttpContextAccessor.HttpContext.Session.GetInt32("userRolId");
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td>
                    @switch (rolId)
                    {
                        case Rol.Administrador:
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                            <span>|</span>
                            @Html.ActionLink("Details", "Details", new { id=item.Id  })
                            <span>|</span>
                            @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
