@model RollCall.Dto.ListAssitenceDto

@{
    @using Microsoft.AspNetCore.Http
    @using RollCall.Dto
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    ViewData["Title"] = "Index";
    int rolId;

    rolId = (int)HttpContextAccessor.HttpContext.Session.GetInt32("userRolId");
}

<h1>Lista</h1>
@await Html.PartialAsync("_FormSearch", new RollCall.Dto.SearchAssistenceDto())
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Fecha de registro
            </th>
            <th>
                Entrada
            </th>
            <th>
                Salida al lonche
            </th>
            <th>
                Regreso del lonche
            </th>
            <th>
                Minutos en el lonche
            </th>
            <th>
                Salida
            </th>
            <th>
                Asistencia
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListAssistances)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @item.RegistrationDate.ToShortDateString()
                </td>
                <td>
                    @if (item.Entry is not null)
                    {
                        if (item.Assitence == "Asistencia")
                        {
                            <span class="text-success">
                                @{
                                    var data = ((DateTime)item.Entry).ToString("HH:mm:ss");
                                }
                                @data
                            </span>
                        }
                        else
                        {
                            <span class="text-danger">
                                @{
                                    var data = ((DateTime)item.Entry).ToString("HH:mm:ss");
                                }
                                @data
                            </span>
                        }
                    }
                </td>
                <td>
                    @if (item.LunchTimeDeparture is not null)
                    {
                        <span>
                            @{
                                var data = ((DateTime)item.LunchTimeDeparture).ToString("HH:mm:ss");
                            }
                            @data
                        </span>
                    }
                </td>
                <td>
                    @if (item.LunchTimeReturn is not null)
                    {
                        <span>
                            @{
                                var data = ((DateTime)item.LunchTimeReturn).ToString("HH:mm:ss");
                            }
                            @data
                        </span>
                    }
                </td>
                <td>
                    @item.LunchMinutes
                </td>
                <td>
                    @if (item.Exit is not null)
                    {
                        <span>
                            @{
                                var data = ((DateTime)item.Exit).ToString("HH:mm:ss");
                            }
                            @data
                        </span>
                    }
                </td>
                <td>
                    @if (item.Assitence == "Asistencia")
                    {
                        <span class="text-success">
                            @item.Assitence
                        </span>
                    }
                    else
                    {
                        <span class="text-danger">
                            @item.Assitence
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="">
</div>
@{
    await Html.RenderPartialAsync("_Pager", Model);
}