@model RollCall.Dto.EmployeeDto

@{
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>

<div>
    <h4>UserDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoInBase64)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoInBase64)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DischargeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DischargeDate)
        </dd>
    </dl>
</div>
<form method="get" action="Verify">
    <p>Ingrese su clave</p>
    <input type="hidden" name="UserId" value="@Model.Id"/>
    <input type="number" name="password" class="form-control"/>
    <button class="btn btn-primary">Checar</button>
</form>
